@import "color.less";

body {
  background-repeat: no-repeat;
  background-image: url("images/siteGlauber.jpg");
  height: 1550px;
  font-family: 'Voces', cursive;
}

.feedback {
  position: absolute;

  .feedback-content {
    display: none;
    background-color: #BBB;
    padding: 5px;
    border-radius: 7px;
    margin-top: 15px;
    width: 350px;
  }
}

.feedback:hover .feedback-content {
  display: block;
}

.feedback-area {
  border: 3px solid @green;
  border-radius: 7px;
  background-color: transparent;
  min-height: 50px;
  min-width: 50px;
  cursor: move;
}

.description {
  padding: 5px;
  float: left;
  border: 1px solid @middlegrey;
  color: @darkgrey;
  border-bottom: 1px solid #AAA;
  width: 338px;
}

.comment-span {
  float: left; 
}

.comment {
  line-height: 35px;
  margin-left: 5px;
  display: block;
  float: left;
}

.comments {
  float: left;
  clear: both;
  background-color: @middlegrey;
}

.comment-container {
  float: left;
  clear: both;
  border-bottom: 1px solid #AAA;
  width: 350px;
  border-top: 1px solid #CCC;
}

.user-image {
  height: 25px;
  float: left;
  padding: 5px 0;
}

.input-container {
  float: left;
  clear: both;
  border-top: 1px solid #CCC;
  width: 350px;
}

.feedback-input {
  margin-top: 5px;
  outline: 0;
  border: 1px solid #AAA;
  height: 22px;
  background-color: #EEE;
  border-radius: 1px;
  margin-left: 3px;
  margin-bottom: 3px;
  width: 342px;
}

.feedback-input {
  margin-top: 5px;
}

#add-new-feedback {
  font-size: 2.7em;
  line-height: 23px;
}

#show-hide-button {
  font-size: 1.13em;
}

#show-hide-button, #add-new-feedback {
  cursor: pointer;
  float:left;
  padding-top: 15px;
  background-color: @darkgrey;
  border-radius: 22px;
  height: 34px;
  margin: 3px;
  text-align: right;
  width: 93px;
  padding-right: 12px;
  color: @darkergrey;
}

#add {
  margin-top: 240px;
}

#show {
  margin-top: 169px;
}

#add, #show {
  border: 5px solid @darkgrey;
  position: fixed;
  border-radius: 30px;
  width: 112px;
  background-color: rgba(90, 250, 90, 0.5);
  left: -37px;
  height: 55px;
  -webkit-transition: all 0.4s linear;
}
