.feedback {
  position: absolute;
  height: 200px;
  border: 2px solid #555;
  width: 200px;
  border-radius: 7px;
  background-color: transparent;
  min-height: 50px;
  min-width: 50px;
  cursor: pointer;
}

#hide-show-button {
  margin-top: 50%;
  border: 2px solid #777;
  height: 50px;
  position: absolute;
  border-radius: 7px;
  cursor: pointer;
  width: 50px;
  text-align: center;
  background-color: #eee;  
}

